@model UsersViewModel
@{
    ViewData["Title"] = "AddBrandsAndExtras";
}

<h2>AddBrandsAndExtras</h2>
<div class="row">
    <h4 class="col-md-offset-4">Add brands or extras...</h4>
    <form asp-action="Add" asp-controller="Admin" method="post">
        <div class="btn-group col-md-4 col-md-offset-1" data-toggle="buttons-radio" style="padding-bottom:10px">
            <label>
                <input type="radio" value="brand" asp-for="@Model.SelectedAnswer" autocomplete="off">Brand
            </label>
            <label>
                <input type="radio" value="extra" asp-for="@Model.SelectedAnswer" autocomplete="off">Extra
            </label>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <input class="" type="text" id="value" placeholder="new value" name="value" />
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </form>
</div>

