@model UsersViewModel
@{
    ViewData["Title"] = "AdminView";
}

<h2>Admin stuff panel</h2>
<hr />
<a asp-action="ManageCars" class="btn btn-group-lg">Manage cars</a>
<a asp-action="AddBrandsExtrasModels" class="btn btn-group-lg">Add Brands, Extras, Models</a>
@*<a asp-action="AddModel" class="btn btn-group-lg">Add Model</a>*@
<a asp-action="CreateCar" class="btn btn-group-lg">Create car</a>


