@model UsersViewModel
@{
    ViewData["Title"] = "AdminView";
}

<h2>Admin panel</h2>
<hr />
<a asp-action="ManageCars" class="btn btn-group-lg">Manage cars</a>
<a asp-action="AddFeatures" class="btn btn-group-lg">Add Brands, Extras, Models</a>
<a asp-action="AddCar" class="btn btn-group-lg">Add car</a>


