@model Dealership.Web.Areas.Admin.Models.UsersViewModel
@{
    ViewData["Title"] = "UsersView";
}

<h2>Users list</h2>

@{
   
    foreach (var item in Model.Users)
    {
            //User id
            //Username
            //User cars
    }
}



