@model Dealership.Web.Models.CarViewModels.BrowseViewModel
@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Cars</h2>

@foreach (var car in Model.Summaries)
{
    <partial name="_CarSummary" model="car" />
}
<ul class="pagination pagination-sm">

    @for (int i = 0; i < Model.Pages; i++)
    {
        if (Model.CurrentPage == i)
        {
            <li class="active"> <a asp-action="Browse" asp-route-page="@i">@(i + 1)</a></li>
        }
        else
        {
            <li> <a asp-action="Browse" asp-route-page="@i">@(i + 1)</a></li>
        }
    }
</ul>


