@model Dealership.Web.Models.EditCarViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create a car</h2>

<hr />
<div class="col-lg-4">
    <form asp-controller="Car" asp-action="Create" method="post" enctype="multipart/form-data">

        <partial name="_EditCarPartial" model="@Model" />

        @*<div class="btn-block">
            <label for="file">Choose images to upload</label>
            <input type="text" name="Images" multiple>
        </div>*@



        @*upload modal*@
        <div id="upload-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <label class="avatar-upload-label">
                            Drag or click to upload..
                            <input type="file" name="Images" multiple />
                        </label>
                        <img class="img-rounded avatar-img-preview hidden" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="remove-img" class="btn btn-danger">Discard</button>
                        <button type="submit" class="btn btn-success">Save Changes</button>
                    </div>

                </div>

            </div>
        </div>



        <div class="form-group">
            <input type="submit" name="save" value="Save" class="btn btn-success" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/createcar.js"></script>
}
