@model Dealership.Web.Models.CarViewModel
@{
    ViewData["Title"] = "Details";
}
<h2>Car details</h2>
<div class="container">
    <partial name="_CarInfoDisplayPartial" model="@Model" />
    
</div>
<div>
    <a asp-controller="Car" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    @Html.ActionLink("Delete", "DeleteAction", "Car", new { confirm = true, id = Model.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Do you really want to delete this product?')" })
    
    <a asp-controller="Car" asp-action="Browse" class="btn btn-block">Back to List</a>
</div>