@model Dealership.Web.Models.CarViewModel
@{
    ViewData["Title"] = "Details";
}
<h2>Car details</h2>
<div class="container">
    <partial name="_CarInfoDisplayPartial" model="@Model" />
    
</div>
<div>
    <a asp-controller="Car" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-controller="Car" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    <a asp-controller="Car" asp-action="Browse" class="btn btn-block">Back to List</a>
</div>