@{
    ViewData["Title"] = "WheelerDealers Ltd.";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h4 class="slogan">
                We stand behind each and every car we sell
            </h4>
            <img src="~/images/banner3.png" alt="Wheeler Dealers" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default btn-over-homebox" href="Car/Search">
                        View inventory
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
            <h4 class="slogan">
                The smarter way to buy your new car
            </h4>
            <img src="~/images/wd-banner.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-content" id="carouselText">
                <p>
                    Choose your perfect car <br />
                    and buy at a price that’s right for you.
                </p>
            </div>

            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default btn-over-homebox" href="Home/Contact">
                        Contact us
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

